body {
	padding-top: 70px;
}

<!-- gallery styling start -->
.galleryHeader{
	text-align:center;	
}


<!-- gallery styling end -->

/* Hide Angular JS elements before initializing */
.ng-cloak {
	display: none;
}

.preview img{
	max-width: 100px;
}

#createUserBtn {
	margin-right: 15px;
	margin-top: 15px;
}
@media (min-width: 768px) {
	#createUserBtn {
		margin-top: 0;
	}
}


