body {
	padding-top: 70px;
}

/* Hide Angular JS elements before initializing */
.ng-cloak {
	display: none;
}

.preview img{
	max-width: 125px;
}

#createUserBtn {
	margin-right: 15px;
	margin-top: 15px;
}
@media (min-width: 768px) {
	#createUserBtn {
		margin-top: 0;
	}
}