/* CSS Document */

/* gallery styling start */
.galleryHeader{
	text-align:center;	
}

.forsidestyling{
	padding-top:50px;
	text-align:center;

}

.forsidestyling p, a:hover, a:link{
	color:#000;
	font-weight:bold;
	font-size:24px;
	text-decoration:none;
}

.imgPort{
	width:75%;
	margin-left:auto;
	margin-right:auto;		
}

.header{
	padding-bottom:50px;
	padding-top:0px;
}

.navbar-brand > img {
	width: 250px; 
	height: 83px;
}

.thumbnailsOversigt img{
	width:10%;
}

.footer{
	height:40px;	
}

.previews div{
	display:inline-block
}
/* gallery styling end */

/* Hide Angular JS elements before initializing */
.ng-cloak {
	display: none;
}

.preview img{
	max-width: 100px;
}